// styles.scss

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;

  // background-color: #edf4c2;
  // width: 30%;
}

.bg-color {
  background-color: #faffd8;
}

.navbar {
  background: #ff6b35;
  color: white;
}

.card-bg {
  background-color: #edf4c2;
}

.primary-text {
  color: #eb5a3c;
}

app-login {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.btn-take {
  background-color: #df9755;

  &:hover {
    background-color: #ef923c;
  }
}

.option-btn {
  background: #fed7aa;
  border-color: #ff6b35;
  box-shadow: 0 0 0 2px #ff6b35;

  &:hover,
  &.option-btn-selected:hover {
    background: #ea580c;
    border-color: #e55a28;
  }
}

.option-btn-selected {
  background: #ff6b35;
  border-color: #ff6b35;
  color: white;
}
