<nav class="navbar">
  <div class="container-fluid d-flex flex-row">
    <div class="d-flex align-items-center">
      <img src="../../../assets/quizicon.png" alt="Quiz Icon" class="img-fluid me-2" style="height: 30px" />
      <a class="navbar-brand mb-0 h1" [routerLink]="['/']" style="cursor: pointer;">Quiz</a>
    </div>

    <ul class="navbar-nav flex-row justify-content-end flex-grow-1 mb-2 mb-lg-0">
      <li class="nav-item px-2" *ngIf="displayLogout">
        <button *ngIf="displayLogout" class="btn btn-outline-danger border-white text-white" (click)="handleLogout()">
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>