<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center bg-light px-3">
  <div
    class="w-100 w-sm-75 w-md-50 w-lg-33 bg-white rounded-4 shadow p-4"
    style="max-width: 500px"
  >
    <h4 class="mb-4 primaryText">Tell Us About Yourself!</h4>

    <div class="mb-3">
      <label for="nameInput" class="form-label fw-semibold">Name</label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        placeholder="Enter Your Name"
        [(ngModel)]="name"
        (ngModelChange)="onNameChange($event)"
      />
    </div>

    <button
      class="btn w-100 mt-3"
      [disabled]="!name"
      [ngClass]="{ 'optionBtnSelected': name, 'btn-secondary': !name }"
      [routerLink]="'/quiz'"
      (click)="onNextClick()"
    >
      Next &gt;
    </button>
  </div>
</div>
